@aui-color-N0: #FFF;
@aui-color-N40: #DFE1E5;
@aui-color-N60: #B3BAC5;
@aui-color-N500: #42526E;
@aui-color-N800: #172B4D;

@aui-color-G50: #E3FCEF;
@aui-color-G400: #00875A;
@aui-color-G500: #006644;

@aui-color-R50: #FFEBE5;
@aui-color-R400: #DE350B;
@aui-color-R500: #BF2600;

@aui-color-B50: #DEEBFF;
@aui-color-B400: #0052CC;
@aui-color-B500: #0747A6;

@aui-color-P50: #EAE6FF;
@aui-color-P400: #5243AA;
@aui-color-P500: #403294;

@aui-color-Y75: #FFF0B2;
@aui-color-Y400: #FF991F;

.jira-issue-status-lozenge {
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12em;

  /* this is here for IE */
  word-wrap: normal;
  word-break: normal;
}

.jira-issue-status-render-error {
  color: @aui-color-R400;
}

/* Colors */
.aui-lozenge {

  &.jira-issue-status-lozenge-medium-gray, &.jira-issue-status-lozenge-blue-gray, &.jira-issue-status-lozenge-default {
    background-color: @aui-color-N500;
    border-color: @aui-color-N500;
    color: @aui-color-N0;
  }
  &.jira-issue-status-lozenge-green, &.jira-issue-status-lozenge-success {
    background-color: @aui-color-G400;
    border-color: @aui-color-G400;
    color: @aui-color-N0;
  }
  &.jira-issue-status-lozenge-warm-red, &.jira-issue-status-lozenge-removed {
    background-color: @aui-color-R400;
    border-color: @aui-color-R400;
    color: @aui-color-N0;
  }

  &.jira-issue-status-lozenge-yellow, &.jira-issue-status-lozenge-inprogress {
    background-color: @aui-color-B400;
    border-color: @aui-color-B400;
    color: @aui-color-N0;
  }

  &.jira-issue-status-lozenge-brown, &.jira-issue-status-lozenge-moved {
    background-color: @aui-color-Y400;
    border-color: @aui-color-Y400;
    color: @aui-color-N800;
  }

  &.aui-lozenge-subtle {

    &.jira-issue-status-lozenge-medium-gray, &.jira-issue-status-lozenge-blue-gray, &.jira-issue-status-lozenge-default {
      background-color: @aui-color-N40;
      border-color: @aui-color-N40;
      color: @aui-color-N500;
    }
    &.jira-issue-status-lozenge-green, &.jira-issue-status-lozenge-success {
      background-color: @aui-color-G50;
      border-color: @aui-color-G50;
      color: @aui-color-G500
    }
    &.jira-issue-status-lozenge-warm-red, &.jira-issue-status-lozenge-removed {
      background-color: @aui-color-R50;
      border-color: @aui-color-R50;
      color: @aui-color-R500;
    }
    &.jira-issue-status-lozenge-yellow, &.jira-issue-status-lozenge-inprogress {
      background-color: @aui-color-B50;
      border-color: @aui-color-B50;
      color: @aui-color-B500;
    }
    &.jira-issue-status-lozenge-brown, &.jira-issue-status-lozenge-moved {
      background-color: @aui-color-Y75;
      border-color: @aui-color-Y75;
      color: @aui-color-N800;
    }
  }

  /* Compact lozenge */
  &.jira-issue-status-lozenge-compact {
    width: 4px;
    text-align: left;
    text-indent: -9999px;
  }
}

/* Tooltips */

.jira-issue-status-tooltip {
  .tipsy-inner {
    text-align: left;
  }
  .jira-issue-status-tooltip-title {
    text-transform: uppercase;
  }
  .jira-issue-status-tooltip-desc {
    color: #ccc;
  }
}

/* For lozenge truncating */

.jira-issue-status-lozenge-max-width-short {
  max-width: 8em;
}

.jira-issue-status-lozenge-max-width-medium {
  max-width: 12em;
}

.jira-issue-status-lozenge-max-width-long {
  max-width: 20em;
}
